.AddyPinMain table {
  width: 0%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.AddyPinMain .table-bordered {
  border: 3px solid #DDD;
  border-left: 4px;
  border-radius: 4px;
}

.AddyPinMain .table-condensed th,
.AddyPinMain .table-condensed td {
  padding: 4px 5px;
}

.AddyPinMain .label {
  font-family: andale mono;
  color: #570;
  font-size: 97%;
}

.AddyPinMain .info {
  background-color: #FFFFFF;
}

.AddyPinMain .col1 {
  background-color: #EEEEEE;
}

.AddyPinMain .col2 {
  background-color: #EEEEEE;
}
